<div class="row">
	<div class="col-md-1">
		<%= link_to [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } do %>
		<span class="glyphicon glyphicon-remove"></span>
		<% end %>
	</div>
	<div class="col-md-2">
		<span class="glyphicon glyphicon-user"></span>
		<strong><%= comment.commenter %></strong>
	</div>
	<div class="col-md-9">
		<blockquote><%= comment.body %></blockquote>
	</div>
</div>

<p>
  
</p>