<h1>Bienvenido a mi blog!</h1>
<!--p>Find me in app/views/welcome/index.html.erb</p-->
<%= link_to "Mi blog", controller: "posts" %>
<%= link_to 'Nuevo post', new_post_path %>
<%= link_to 'Back', posts_path %>