<footer style="background-color: #f5f5f5; padding: 30px 0; margin-top: 20px;">
    <div class="container">
        <div class="row text-center text-muted small">
	    <p>Desarrollado por Diego Salazar S. para el <a href="http://www.rorusm2013.blogspot.com" target="_blank">taller de Ruby on Rails 2013-2</a>, UTFSM.</p>
            <p>Powered by <a href="http://www.getbootstrap.com" target="_blank">Twitter Bootstrap</a></p>
        </div>
    </div>
</footer>
